#carrotPerSecond {
    width: fit-content;
}
.button {
    display: flex;
}
.button1 {
    width: 18em;
    height: 6em;
    margin: 0.5em;
    border: 0;
    border-radius: 0.5em;
}
.button1:hover {
    border: 0.3em solid rgb(238, 120, 54);
    background-color: rgb(20, 20, 24);
    color: rgb(238, 120, 54);

}
body {
    background-color: rgb(20, 20, 24);
    color: rgb(238, 120, 54);
}